body {
    background: #000000;
    color: white;
}

p {
    text-align: center;
}
/*rectangle 1, behind the header*/
.rectangle {
    position: relative;
    width: 98vw;
    height: 79px;
    left: 7px;
    top: 6px;
    
    background: #0DEDAA; 
}
/*header and rectangle*/
.top {
    position: absolute;
    width: 85vw;
    height: 60px;
    left: 143px;
    top: 11px;
    background: #000000;
    text-align: center;
    padding-top: 2vh;
}
/*github and codepen logos and images*/
.github {
    position: relative;
    width: 36px;
    height: 34px;
}

.codepen {
    position: relative;
    width: 39px;
    height: 40px;
}

.skull {
    position: absolute;
    width: 136px;
    height: 79px;
    left: 0px;
    top: 0px;
}
/*header links*/
a:link, a:visited {
    color: white;
    text-decoration: none;
    font-size: x-large;
} 



#container {
    overflow: visible;
    font-size: 20px;
    padding: 20vh;

}



.azaria {
    position: relative;


}


#about {
    font-size: 20px;
    position: relative;
    font-family: sans-serif;
    margin-top: 2vh;
    padding: 2vh, 1vw;
    border: double #0DEDAA;
    width: 25vw;
    
}

.art{
    width: 150%;
    padding: 15%;
    position: relative;
}

#Myfav {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    padding: 2vh, 1vw;
    position: relative;
}

MyFav2 {
    padding: 2vh;
    position: relative;
    
}

#secondcol {
    overflow: visible;
    font-size: 20px;
    padding: 20vh;
    text-align: center;
}

p .projhead{
        text-align: center;
}

.screenshot{
    border:8px solid transparent black;
}

.screenshot:hover {
    border: 8px solid blueviolet;
}

#spongewars{
    position: relative;
}





